@font-face { font-family: Porter; src: url('Porter.ttf'); } 

body, p{
	margin:0px auto;
	padding:0px;
}

#title{
	width:100%;
	height:100px;
}

#title h1{
	font-family:Porter;
	font-size: 36px;
	line-height:100px;
	margin:0px;
	padding-left: 20px;
	text-align: center;
}

#navbar{
	width:100%;
	height: 30px;
	background-color:#000000;
}

#navContainer{
	width:800px;
	height:30px;
	margin:0px auto;
}
#navLeft{
	
}

#navLeft ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
#navLeft ul li{
	width:100px;
	height:30px;
	line-height:30px;
	text-align: center;
	float:left;
	font-family:Porter;
}

#navLeft ul li a{
	font-weight: bold;
	text-decoration: none;
	padding:10px;
	color:white;
}

#navRight{
	
}

#navRight ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

#navRight ul li{
	width:100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	float:right;
	font-family:Porter;
}

#navRight ul li a{
	font-weight: bold;
	text-decoration: none;
	padding:10px;
	color:white;
}

#bigScreen{
	height: 600px;
	width: auto;
	display:block;
	background-image: url("bigScreen.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#topContainer{
	height:600px;
	width:800px;
	margin: 0px auto;
}

hr.style-one {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-left:0px auto;
    margin-right:0px auto;
    margin-top:0px;
    margin-bottom:20px;
    width:800px;
}