body, p{
	margin:0px auto;
	padding:0px;
}

#navbar{
	width:100%;
	height: 30px;
	background-color:#000000;
}

#navLeft{
	
}
#navLeft ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
#navLeft ul li{
	width:100px;
	height:30px;
	line-height:30px;
	text-align: center;
	float:left;
}

#navRight{
	
}

#navRight ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

#navRight ul li{
	width:100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	float:right;
}

#navLeft ul li a{
	font-weight: bold;
	text-decoration: none;
	padding:10px;
}

#bigScreen{
	height: 600px;
	width: 100%;
	background-image: url("bigScreen.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

#title{
	width:100%;
	height:100px;
}