@font-face { font-family: Porter; src: url('Porter.ttf'); } 

body, p{
	margin:0px auto;
	padding:0px;
}

.porterFont{
	font-family:Porter;
	font-weight: bold;
	font-size: 16px;
}

#bigScreen{
	height: 600px;
	width: auto;
	background-image: url("bigScreen.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}


hr.style-one {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-left:0px auto;
    margin-right:0px auto;
    margin-top:0px;
    margin-bottom:30px;
    width:800px;
}

#brand{
	float:left;
	text-align:left;
	height: 40px;
	line-height: 40px;
}

#brand a{
	padding: 15px;
	color:white;
	display:inline;
}

#navElements ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
}

#navElements ul li{
	float: right;
	height: 40px;
	line-height: 40px;
}

#navElements ul li a{
	text-decoration: none;
	padding:15px;
	color:white;
	display:inline;
}
